

table {
     
      border-collapse: collapse;
     
  }
td, th {
    border:0px solid rgb(28, 43, 185);
  }

#superior {
    text-align: center;
    border-radius: 0.5em;
    background: linear-gradient(70deg, rgb(53, 156, 163) 50%, green);
    text-shadow: 1px 2px 1px white;
  }
#encabezado  table {
    border-radius: 0.5em;
    background: linear-gradient(70deg, black 50%, green);
    box-shadow: 0px 0px 15px 15px #ec731e;
    display: block;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-size: 18px;
    width: auto;
    height: auto;
  }
#alum  table {
    border-radius: 0.5em;
    text-align: center;
    background-color: rgb(168, 154, 168);
    box-shadow: 0px 0px 15px 15px #20104d;
    width: auto;
    height: auto;
  }

.contenedor img {
    position: absolute;
    border-radius: 40%;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  } 

.contenedor img.top:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    opacity: 0;
    }
    
.contenedor {
      position: relative;
      height: 100px;
      width: 80px;
     float: none;
    }
    
#imgcabecera  {
      border-radius: 10%;
    }
#tex {
     color:rgb(168, 154, 168);
    }

.descripcion {
      text-align: justify;
    }
    
.boton1 { 
  padding: 15px 20px;
  background: -moz-linear-gradient(80deg, rgb(65, 152, 233) 10%, rgb(106, 112, 106));
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 3px 1px black;
  display: inline-block;
  font-size: 16px;
  border-radius:8%;
  }
    
  .boton1:hover { 
    background: -moz-linear-gradient(80deg, rgb(233, 81, 55) 10%, rgb(106, 112, 106)); /* Green */
    box-shadow: 0px 0px 5px 5px #ec731e;
    border: none;
    color: rgb(19, 16, 16);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 3px 1px rgb(147, 182, 184);
    display: inline-block;
    font-size: 16px;
    border-radius:8%;
    }