
body {
    background-color: rgb(177, 225, 65);
  }

thead  {
  background-color: gray ;
  }
tbody {
  background-color: hotpink;
}  
tfoot {
  background-color: chocolate;
}
table td:first-child {
    width: 200px;
    font-size: 25;
  }
  table td:nth-child(2) {
    width: 800px;
  }
  table td:nth-child(3) {
    width: 200px;
  }
  
  table {
     
      border-collapse: collapse;
     
  }
  td, th {
    border:1px solid rgb(31, 116, 196);
  }
  